.rectangle {
    justify-content: center;
    display: flex;
    margin: 230px 10px;
}
.rectangle .one {
    background-color: blue;
    width: 200px;
    height: 200px;

}
.rectangle .two{
    background-color: red;
    width: 200px;
    height: 200px;

}
@media screen and (max-width : 1000px){
    .rectangle .two{
        background-color: yellow;
        width: 200px;
        height: 200px;
    
    }
    .rectangle .one {
        background-color: green;
        width: 200px;
        height: 200px;
    
    }
}
@media screen and (max-width : 700px){

       .rectangle .two{
        background-color: rgb(42, 43, 92);
        width: 200px;
        height: 200px;
    
    }
    .rectangle .one {
        background-color: rgb(142, 142, 142);
        width: 200px;
        height: 200px;
    
    }
}