@media screen  and (max-width : 992px) {
    .Tools_Bar_ul{
        display: none;
    }
    .responsiveMenu{
        display: block;
    }
    .responsiveNav{
        display: block;
    }
    .hamburger {
        display: block;
    }
}
@media screen  and (max-width : 600px) {
    .headInHeader{
        font-size: 45px;
 
    }
    .pInHeader {
        font-size: 19px;
    }

}
@media screen  and (max-width : 450px) {
    .headInHeader{
        font-size: 35px;
 
    }
    .pInHeader {
        font-size: 15px;
    }

}
