@media screen and (max-width : 992px) {
    header nav ul{
       display: none;
        
    }
    .hamburger img {
    display: block;
    width: 55px;
    float: right;
    margin-top: 12px;
    }
    .responsiveNav {
        display: block;
        right: -200;
        display: none;
    }
    .back {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.529);
        position:absolute;
    }
}