*{
    margin: 0px;
    padding: 0px;

}
.container{
    max-width: 1400px;
    background-color: rgb(224, 224, 224);
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}
.parent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.childOne {
  background-color: blue;
  width: 50%;
  height: 300px;
}
.childTwo {
  background-color: rgb(255, 242, 0);
  width: 50%;
  height: 300px;
}
.childThree {
  width: 50%;
  height: 300px;
  background-color: rgb(34, 255, 0);
}
.childFour {
  width: 50%;
  height: 300px;
  background-color: rgb(255, 0, 0);
}
@media (min-width : 992px){
    .childOne{
        background: rgb(0, 0, 0);
        
        }
        
}
@media (min-width : 1200px){
    .childOne{
        background: rgb(107, 0, 0);
        
        }
        
}
@media (min-width : 1400px){
    .childOne{
        background: rgb(178, 0, 248);
        
        }
        
}