* {
    line-height: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: aquamarine;
}
h1 {
    color: #ffffff;
}
h1,
h2,
h3 {
    text-align: center;
}

img {
    width: 100%;
    border-radius: 10px;
    border-color: black;
    border: 30px;

}

.main-text {
    margin-left: 15px;
    padding: 50px;
    background-color: #ffffff;
    width: 1750px;
}

button:hover {
    background-color: blue;
}

table {
    width: 1000px;

}

td,
th {
    border: 2px, solid, #dddddd;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.dokme {
    width: 100px;
    height: 25px;
}